*{padding: 0;margin: 0;}
body{font-family: 微软雅黑,Arial;font-weight: bold;width: 100%;height: 100%;display: block}
.hide{display: none;}
.bg{
    width: 100%;
    height: 100%;

}
.bg img{
    width: 100%;
    height: 100%;
    position:absolute;
    z-index:-1;
    top:0px;
    left:0px;
}
.center-box{
    text-align: center;
    position: absolute;
    /* width: 500px; */
    left: 0;
    right: 0;
    top: 10%;
    bottom: 0;
    overflow: hidden;
}
#turns-heading{
    /* width: 45%; */
    display: inline-block;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    background: #facd89;
    color: #f00;
    font-size: 5em;
    margin-top: 30px;
}
#show-lucky{
    width: 80%;
    /*height: 40%;*/
    margin: 0 auto;
    /*margin-left: 20%;*/
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    /* overflow-y: auto; */

}
#show-lucky .num,#show-lucky b{max-width:90%;word-wrap:break-word;display: inline-block;text-align: center;font-size: 5rem;border: 5px solid #fff;padding: 15px;margin: 10px;}
#show-lucky .show{border: none;/* font-size: 50px; */text-align: left;}
#show-lucky .turnShow{text-align: left;color:#facd89;}
.qrcode{width: 150px;height:150px;display: block;position: absolute;bottom: 10px;left: 50%;margin-left: -75px;}